<h2 class="text-center">Welcome to your personal trauma journal.</h2>
<h4 class="text-center">Here you have space to speak your truth, and space to heal. With this journal I hope you find peace of mind, and the strength to move forward through whatever plagues you. In this space you are free from judgement, rejection, and fear. I encourage you to enter this space, and leave behind the day to day world so that you may enter your own. Let your writing and emotions flow here.</h4>

<%entries.forEach(function(entry) { %>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <h3><%= entry.title %></h3>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p><%=entry.content%></p>
        </div>
      </div>
    </div>
    <a href="/entries/edit/<%= entry.id %>"> Edit </a>
    <!-- <form method="POST" action="/entries/edit/<%= entry.id %>/?_method=PUT">
      <input type="submit" value="Edit"> -->
    <form method="POST" action="/entries/<%= entry.id %>/?_method=DELETE">
      <input type="submit" value="Delete">
    <% }) %>
          <!-- use a forEach on entries -->
          <!-- <h3><%= //entry.title %></h3> -->
   